body{
	margin: 0px;
}
div {
	height: 100px;
	width: 100px;
	background-color: blue;
	display: inline-block;
	margin-right: 50px;
}
#w{
	margin-left: 150px;
	display: block;
}
#map{
	text-align: center;
	background-color: green;
	margin: 0 auto;
	height: 500px;
	width: 500px;
	position: relative;
}

